.footer{
    width: 100%;
    max-width: 70rem;
    padding: 0 1.5rem;
    ul{
        margin: 2rem 0 4rem;
    }

    .icons{
        width: 6.25rem;
        display: flex;
        justify-content: space-between;
        margin-bottom: 5rem;
    }
}