.plan {
  width: 100%;
  max-width: 70rem;
  height: 37.5rem;
  position: relative;
  background-color: var(--clr__neutral-2);
  margin: 6rem 0 24.375rem; //change in tablet and desktop version
  border-radius: 0.7rem;
  z-index: 0;

  svg { //change in tablet and desktop version
    position: absolute;
    transform: scale(0.9);
    top: -1.45rem;
    left: 10%;

  }

  .plan__img { //change in tablet and desktop version
    width: 13rem;
    position: absolute;
    left: 50%;
    top: 7.1875rem;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .plan-premiun {//change in tablet and desktop version
    width: 100%;
    // max-width: 27.875rem; //move to a media
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -20rem;
    background-color: var(--clr__primary-2);
    border-radius: 0.7rem;
    padding: 3rem 2.25rem;
  }
}
